<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">
					<div class="col-md-10">
						<h3 class="jumbotron-heading mb-4">Cadastro de usuários</h3>
						<div th:replace="fragments/alert :: alerta-sucesso"></div>

						<form th:action="@{/usuarios/cadastro/salvar}"
								th:object="${usuario}" method="POST" class="was-validated">
							
							<div class="form-group row">
								<label for="nome" 
									class="col-sm-2 col-form-label">Nome:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="nome"
										    th:field="*{nome}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="telefone1" 
									class="col-sm-2 col-form-label">Telefone 1:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="telefone1"
										    th:field="*{telefone1}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="telefone2" 
									class="col-sm-2 col-form-label">Telefone 2:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="telefone2"
										    th:field="*{telefone2}" />
								</div>
							</div>
							<div class="form-group row">
								<label for="celular" 
									class="col-sm-2 col-form-label">Celular:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="celular"
										    th:field="*{celular}" />
								</div>
							</div>
							<div class="form-group row">
								<label for="email" 
									class="col-sm-2 col-form-label">Email:</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email"
										    th:field="*{email}" 
										    th:readonly="${id != null}" />
								</div>
							</div>
							<div class="form-group row" th:if="${id == null}">
								<label for="senha" 
									class="col-sm-2 col-form-label">Senha:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="senha" maxlength="6"
									th:field="*{senha}" placeholder="Insira sua senha de acesso" required />
								</div>
							</div>

							<div class="form-group row" sec:authorize="hasAuthority('ADMIN')">
								<label for="perfis" class="col-sm-2 col-form-label">Perfil:</label>
								<div class="col-sm-10">
									<select id="perfis" class="custom-select"
											th:field="*{perfis}" required>
										<option value="1" selected="selected">Administrador</option>
									</select>
									<input type="hidden" value="0" name="perfis" />
								</div>
							</div>
							
							<div class="form-group row">
								<div class="col-sm-10 custom-control custom-switch">
								  <input type="checkbox" class="custom-control-input" 
								  			th:field="*{ativo}" id="ativo" 
								  			th:if="${ativo == true ? 'checked=checked' : ''}" />
								  <label class="custom-control-label" for="ativo">Cadastro Ativo</label>
								</div>
							</div>

							<input type="hidden" th:field="*{id}">
							
							<div class="form-group row">
								<a class="btn btn-primary float-right" type="button" href="javascript:history.back()">Voltar</a>
									
								<button type="submit" class="btn btn-primary float-right" data-placement="right" title="Salvar">
									<i class="fa fa-save"></i> Salvar
								</button>
								
							</div>
							
						</form>

					</div>
				</div>
			</div>
		</div>

		</main>

	</section>
	<script	th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">

	$('#perfis').ready(fucntion(){
		var perfis = [[${usuario.perfis}]];
		
		$.each(perfis, function(k, v){
			$('#perfis option[value="'+v.id+'"]').attr('selected', 'selected')
		});
		
	});
	
	</script>
</body>
</html>