<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">
					<div class="col-md-8">
					
						<div th:replace="fragments/alert  :: alerta-sucesso"></div>
						
						<form th:action="${medico.id == null} ? @{/medicos/salvar} : @{/medicos/editar}"
							  th:object="${medico}"	method="POST" class="was-validated">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="nome" class="form-group">Nome Completo</label>
									<input type="text" class="form-control"
										th:field="*{nome}" id="nome" placeholder="João da Silva"
										required/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="cep" class="form-group">CEP</label>
									<input type="text" class="form-control"
										th:field="*{endereco.cep}" id="cep"
										required/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="cidade" class="form-group">Cidade</label>
									<input type="text" class="form-control"
										th:field="*{endereco.cidade}" id="cidade"
										required/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="logradouro" class="form-group">Endereço</label>
									<input type="text" class="form-control"
										th:field="*{endereco.logradouro}" id="logradouro"
										required/>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="complemento" class="form-group">Complemento</label>
									<input type="text" class="form-control"
										th:field="*{endereco.complemento}" id="complemento"
										required/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="bairro" class="form-group">Bairro</label>
									<input type="text" class="form-control"
										th:field="*{endereco.bairro}" id="bairro"
										required/>
								</div>
							</div>							

							<div id="especialidades-selecionadas">
								<div class="form-group">
									<label for="autocomplete-especialidades">Especialidade(s)</label>
									<input type="text" id="autocomplete-especialidades"
										class="form-control" placeholder="suas especialidade são..." /> 
									<small class="form-text text-muted">Insira suas
										especialidades médicas.</small>
										
								</div>
							</div>							
							<div id='listaEspecializacoes'>
								<input type="hidden" name="especialidades" value=""/>
							</div>							
							
							<input type="hidden" name="uid" th:field="*{usuario.id}">
							<input type="hidden" name="id" th:field="*{id}">
														
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary"
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
								</div>
							</div>
						</form>

						<hr />

						<h2>Especialidades médicas</h2>
						<table id="table-medico-especializacao" 
							class="table table-sm table-striped table-bordered nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Especialidade</th>
									<th scope="col">Excluir</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		</main>
		
	</section>
	<script	th:src="@{/js/medico.js(v=${version})}"	th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>