<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">
					<div class="col-md-10">
					<h3 class="jumbotron-heading mb-4">Cadastro de Clínicas</h3>
						<div th:replace="fragments/alert  :: alerta-sucesso"></div>
						
						<form th:action="${clinica.id == null} ? @{/clinicas/salvar} : @{/clinicas/editar}"
							  th:object="${clinica}" method="POST" class="was-validated">
							<div class="form-group row">
								<label for="nome" 
									class="col-sm-2 col-form-label">Nome:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="nome"
										    th:field="*{usuario.nome}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="telefone1" 
									class="col-sm-2 col-form-label">Telefone 1:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="telefone1"
										    th:field="*{usuario.telefone1}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="telefone2" 
									class="col-sm-2 col-form-label">Telefone 2:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="telefone2"
										    th:field="*{usuario.telefone2}" />
								</div>
							</div>
							<div class="form-group row">
								<label for="celular" 
									class="col-sm-2 col-form-label">Celular:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="celular"
										    th:field="*{usuario.celular}" />
								</div>
							</div>
							<div class="form-group row">
								<label for="email" 
									class="col-sm-2 col-form-label">Email:</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email"
										    th:field="*{usuario.email}" 
										    th:readonly="${clinica.usuario.id != null}" />
								</div>
							</div>
							<div class="form-group row" th:if="${clinica.usuario.id == null}">
								<label for="senha" 
									class="col-sm-2 col-form-label">Senha:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="senha" maxlength="6"
									th:field="*{usuario.senha}" placeholder="Insira sua senha de acesso" required />
								</div>
							</div>
							
							<div class="form-group row">
								<div class="col-sm-10 custom-control custom-switch">
								  <input type="checkbox" class="custom-control-input" 
								  			th:field="*{usuario.ativo}" id="ativo" 
								  			th:if="${clinica.usuario.ativo == true ? 'checked=checked' : ''}" />
								  <label class="custom-control-label" for="ativo">Cadastro Ativo</label>
								</div>
							</div>
							<div class="form-group row">
								<label for="cep" 
									class="col-sm-2 col-form-label">CEP:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="cep"
										    th:field="*{endereco.cep}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="estado" 
									class="col-sm-2 col-form-label">Estado:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="estado"
										    th:field="*{endereco.estado}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="cidade" 
									class="col-sm-2 col-form-label">Cidade:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="cidade"
										    th:field="*{endereco.cidade}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="logradouro" 
									class="col-sm-2 col-form-label">Endereço:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="logradouro"
										    th:field="*{endereco.logradouro}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="complemento" 
									class="col-sm-2 col-form-label">Complemento:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="complemento"
										    th:field="*{endereco.complemento}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="bairro" 
									class="col-sm-2 col-form-label">Bairro:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="bairro"
										    th:field="*{endereco.bairro}" required />
								</div>
							</div>
							<div class="form-group row">
								<label for="bairro" 
									class="col-sm-2 col-form-label">Especialidade(s):</label>
								<div class="col-sm-10">
									<input type="text" id="autocomplete-especialidades"
										class="form-control" placeholder="suas especialidade são..." /> 
									<small class="form-text text-muted">Insira suas
										especialidades médicas.</small>
								</div>
							</div>

							<div class="add-toast position-absolute" aria-live="polite" aria-atomic="true" style="top:500px; right:20px;">
								<!--toast-->
							</div>
							<div id='listaEspecializacoes'>
								<input type="hidden" name="especialidades" value=""/>
							</div>							
							
							<input type="hidden" name="uid" th:field="*{endereco.id}">
							<input type="hidden" name="uid" th:field="*{usuario.id}">
							<input type="hidden" name="id" th:field="*{id}">
														
							<div class="form-group row">
								<a class="btn btn-primary float-right" type="button" href="javascript:history.back()">Voltar</a>
									
								<button type="submit" class="btn btn-primary float-right" data-placement="right" title="Salvar">
									<i class="fa fa-save"></i> Salvar
								</button>
								
							</div>
						</form>

						<hr />

						<h2>Especialidades médicas</h2>
						<table id="table-medico-especializacao" 
							class="table table-sm table-striped table-bordered nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Especialidade</th>
									<th scope="col">Excluir</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		</main>
		
	</section>
	<script	th:src="@{/js/clinica.js(v=${version})}" th:fragment="js"></script>
	<script	th:src="@{/js/consultaCEP.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	$(document).ready(function () {
		moment.locale('pt-BR');
	
		var idClinica = [[${clinica.id != null ? clinica.id : 0}]];
		if (idClinica != 0) {
			var table = $('#table-medico-especializacao').DataTable({
				searching: false,
				lengthMenu: [3, 5],
				processing: true,
				serverSide: true,
				responsive: true,
				ajax: {
					url: '/especialidades/datatables/server/clinica/' + idClinica,
					data: 'data'
				},
				columns: [
					{data: 'id'},
					{data: 'titulo'},
					{orderable: false,
					 data: 'id',
						"render": function(id) {
							return '<a href="/clinicas/id/' + idClinica + '/excluir/especializacao/' +
								id +'" role="button" title="Excluir especialidade"><i class="iconecor-remove iconecor-24"></i></a>';
						}
					}
				]
			});
		}
	}); 
	</script>
</body>
</html>