<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8"></head>
<body>
	<div th:fragment="rodape">
		
		<!-- footer area start -->
	    <footer>
	        <div class="footer-top ptb--60">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-3 col-md-6">
	                        <div class="fwidget about_company">
	                            <a href="index.html"><img th:src="@{/assets/img/icon/logo.png}" alt="img"></a>
	                            <p>Maecenas eget elit felis. Nunc tincidunt nunc sit amet lectus rhoncus dapibus. Duis lobortis ipsum ac est fermentum, ac mollis nisi rhoncus. Integer eget cursus dui. Aenean tempus, arcu non cursus vulputate.</p>
	                            <ul class="f_social">
	                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="fwidget quick_link">
	                            <h2>Useful Links</h2>
	                            <ul>
	                                <li><a href="#">Home</a></li>
	                                <li><a href="#">Services</a></li>
	                                <li><a href="#">Doctors</a></li>
	                                <li><a href="#">Gallary</a></li>
	                                <li><a href="#">Blog</a></li>
	                                <li><a href="#">Contact</a></li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="fwidget quick_contact">
	                            <h2>Quick Contact</h2>
	                            <form action="#">
	                                <input type="email" name="email" placeholder="Enter Email">
	                                <textarea name="msg" id="msg" placeholder="Enter  Message"></textarea>
	                                <input type="submit" name="submit" id="submit" value="Send Message">
	                            </form>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="fwidget f_instagram">
	                            <h2>Instagram</h2>
	                            <div class="instagram_img">
	                                <a href="#"><img th:src="@{/assets/img/instagram/img1.jpg}" alt="image"></a>
	                                <a href="#"><img th:src="@{/assets/img/instagram/img2.jpg}" alt="image"></a>
	                                <a href="#"><img th:src="@{/assets/img/instagram/img3.jpg}" alt="image"></a>
	                                <a href="#"><img th:src="@{/assets/img/instagram/img4.jpg}" alt="image"></a>
	                                <a href="#"><img th:src="@{/assets/img/instagram/img5.jpg}" alt="image"></a>
	                                <a href="#"><img th:src="@{/assets/img/instagram/img6.jpg}" alt="image"></a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="footer-bottom">
	            <div class="container">
	                <div class="row">
	                    <div class="col-sm-6">
	                        <p>&copy; 2018 Medytouch All Rights Resurved</p>
	                    </div>
	                    <div class="col-sm-6">
	                        <ul>
	                            <li><a href="#">Privecy</a></li>
	                            <li><a href="#">Contact us</a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>
    		
		
	</div> 
</body>
</html>